h1{
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin:20px auto;
}

.image{
    text-align: center;
    border: 1px solid brown;
}

.image p{
    width: 50%;
    margin: 10px auto;
    border: 1px solid black;
}

.main{
    background-color: rgb(124, 124, 246);
    height: 200px;
    width: 50%;
    margin: 20px auto;
}

.bloques{
    width: 60%;
    background-color: rgba(255, 0, 0, 0.692);
    margin: 40px auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bloques div{
    background-color: rgba(128, 255, 0, 0.849);
    height: 200px;
    width: 25%;
    display: inline-block;
}

.imagenes{
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.616);
}

.parrafo{
    padding: 50px;
    border: 1px solid black;
}